.item-container {
  background-color: #e8eceb;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(auto, auto);
  gap: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.item-container-title {
  margin: 10px 0px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.item-container-main {
  position: relative;
  display: inline-block;
}

.item-container-main b {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  opacity: 0.9;
  color: #ffff;
  font-weight: bold;
  background-color: #76a9a5;
  padding: 6px;
  border-radius: 5px;
}

.item-container-main img {
  display: block;
  width: 100%;
  height: 146px;
}
.item-container-main .publishing-date {
  margin-top: 5px;
  font-style: italic;
}

.publishing-date {
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  font-weight: 550;
  text-align: right;
  opacity: 0.7;
  margin: 0;
}
.link-container {
  align-self: flex-end;
}
.link-container a {
  text-decoration: none;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.link-container button {
  color: #ffffff;
  background-color: #5dafa9;
  border: none;
  border-radius: 3px;
  padding: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.link-container button:hover {
  background-color: #3c7a76;
  border-color: #3c7a76;
}
